<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/public/stylesheets/all.min.css">
    <link rel="stylesheet" href="/public/stylesheets/slick.css">
    <link rel="stylesheet" href="/public/stylesheets/default.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>


{% block top %}

{% endblock %}

<script src="/public/javascripts/modernizr-3.5.0.min.js"></script>
<script src="/public/javascripts/jquery-3.6.0.min.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>
<script src="/public/javascripts/slick.min.js"></script>
<script src="/public/javascripts/jquery.meanmenu.min.js"></script>
<script src="/public/javascripts/main.js"></script>
</body>
</html>